In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s=pd.Series([1,3,9, np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    9.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [18]:
dates=pd.date_range('20130101',periods=6)

In [19]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [29]:
df

                   A         B         C         D
2013-01-01 -0.426147 -0.436431 -0.140027  0.448025
2013-01-02 -1.044528  0.224910  1.221262 -0.653114
2013-01-03 -0.907266  0.249015 -2.604599 -0.234097
2013-01-04 -0.471894 -0.296394  0.273800  0.422159
2013-01-05 -1.342927 -1.119370  1.274080  0.116841
2013-01-06 -0.460226 -0.545014 -1.127088  0.944539

In [56]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(3,index=list(range(5)),dtype='float32'),
   ....:                      'D' : np.array([3] * 5,dtype='int32'),
   ....:                      'E' : pd.Categorical(["pie","meat","moop","eh", "hi"]),
   ....:                      'F' : 'apple' })

In [57]:
df2

     A          B    C  D     E      F
0  1.0 2013-01-02  3.0  3   pie  apple
1  1.0 2013-01-02  3.0  3  meat  apple
2  1.0 2013-01-02  3.0  3  moop  apple
3  1.0 2013-01-02  3.0  3    eh  apple
4  1.0 2013-01-02  3.0  3    hi  apple

In [47]:
df2.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [48]:
df2.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [49]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [50]:
df.values

array([[-0.42614658, -0.43643127, -0.140027  ,  0.44802532],
       [-1.04452849,  0.22491037,  1.22126244, -0.65311441],
       [-0.90726638,  0.24901535, -2.60459908, -0.23409736],
       [-0.47189392, -0.29639373,  0.27379951,  0.42215863],
       [-1.34292733, -1.11937008,  1.27407987,  0.11684109],
       [-0.46022576, -0.54501417, -1.12708774,  0.94453867]])

In [51]:
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'pie', 'apple'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'meat', 'apple'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'moop', 'apple'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'eh', 'apple'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'hi', 'apple']], dtype=object)

In [52]:
df2.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [54]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.775498 -0.320547 -0.183762  0.174059
std    0.380877  0.514673  1.487346  0.562909
min   -1.342927 -1.119370 -2.604599 -0.653114
25%   -1.010213 -0.517868 -0.880323 -0.146363
50%   -0.689580 -0.366412  0.066886  0.269500
75%   -0.463143  0.094584  0.984397  0.441559
max   -0.426147  0.249015  1.274080  0.944539

In [55]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.426147   -1.044528   -0.907266   -0.471894   -1.342927   -0.460226
B   -0.436431    0.224910    0.249015   -0.296394   -1.119370   -0.545014
C   -0.140027    1.221262   -2.604599    0.273800    1.274080   -1.127088
D    0.448025   -0.653114   -0.234097    0.422159    0.116841    0.944539

In [75]:
df.sort_index(axis=2, ascending=False)

ValueError: No axis named 2 for object type <class 'pandas.core.frame.DataFrame'>

In [66]:
df.sort_values(by='C', ascending=False)

                   A         B         C         D
2013-01-05 -1.342927 -1.119370  1.274080  0.116841
2013-01-02 -1.044528  0.224910  1.221262 -0.653114
2013-01-04 -0.471894 -0.296394  0.273800  0.422159
2013-01-01 -0.426147 -0.436431 -0.140027  0.448025
2013-01-06 -0.460226 -0.545014 -1.127088  0.944539
2013-01-03 -0.907266  0.249015 -2.604599 -0.234097

In [67]:
df['A']

2013-01-01   -0.426147
2013-01-02   -1.044528
2013-01-03   -0.907266
2013-01-04   -0.471894
2013-01-05   -1.342927
2013-01-06   -0.460226
Freq: D, Name: A, dtype: float64