In [7]:
%matplotlib inline
import pandas as pd
import Quandl as quandl

In [4]:
stock = pd.DataFrame.from_csv('usastock.csv', index_col=None)
stock.head(3)

,A,1999-11-18,45.5,50.0,40.0,44.0,44739900.0,0.0,1.0,43.471809559155,47.771219295775,38.21697543662,42.038672980282,44739900.0.1
0,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,41.025923,41.083249,38.035445,38.580037,10897100.0
1,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,39.468581,42.038673,38.274301,42.038673,4705200.0
2,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,40.605536,41.685166,38.455832,38.455832,4274400.0

In [15]:
investor = pd.DataFrame.from_csv('investor.csv', index_col=None)
investor.tail(3)

,Date,Bullish,Neutral,Bearish,Total,Bullish 8-Week Mov Avg,Bull-Bear Spread,Bullish Average,Bullish Average + St. Dev,Bullish Average - St. Dev,S&P 500 Weekly High,S&P 500 Weekly Low,S&P 500 Weekly Close
1517,1987-07-24,0.36,0.5,0.14,1.0,NaN,0.22,0.386014,0.489178,0.28285,311.39,307.81,309.27
1518,1987-07-17,NaN,NaN,NaN,NaN,NaN,NaN,0.386014,0.489178,0.28285,314.59,307.63,314.59
1519,1987-06-26,NaN,NaN,NaN,NaN,NaN,NaN,0.386014,0.489178,0.28285,NaN,NaN,NaN

In [9]:
##retrieving data from quandl
mydata = quandl.get("WIKI/FB")
mydata.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2016-08-31,125.60,126.22,125.10,126.12,14014002.0,0.0,1.0,125.60,126.22,125.10,126.12,14014002.0
2016-09-01,126.38,126.63,125.60,126.17,13384720.0,0.0,1.0,126.38,126.63,125.60,126.17,13384720.0
2016-09-02,126.85,126.86,126.00,126.51,12025496.0,0.0,1.0,126.85,126.86,126.00,126.51,12025496.0
2016-09-06,126.67,129.94,126.47,129.73,26007974.0,0.0,1.0,126.67,129.94,126.47,129.73,26007974.0
2016-09-07,130.04,131.98,129.95,131.05,27669688.0,0.0,1.0,130.04,131.98,129.95,131.05,27669688.0

In [16]:
##raw data pulled from quandl server seem to be different from csv i downloaded
investordata = quandl.get("AAII/AAII_SENTIMENT")
investordata.head().fillna(0)

,Bullish,Neutral,Bearish,Total,Bullish 8-Week Mov Avg,Bull-Bear Spread,Bullish Average,Bullish Average + St. Dev,Bullish Average - St. Dev,S&P 500 Weekly High,S&P 500 Weekly Low,S&P 500 Weekly Close
Date,,,,,,,,,,,,
1987-06-26,0.00,0.00,0.00,0.0,0.0,0.00,0.386014,0.489178,0.28285,0.00,0.00,0.00
1987-07-17,0.00,0.00,0.00,0.0,0.0,0.00,0.386014,0.489178,0.28285,314.59,307.63,314.59
1987-07-24,0.36,0.50,0.14,1.0,0.0,0.22,0.386014,0.489178,0.28285,311.39,307.81,309.27
1987-07-31,0.26,0.48,0.26,1.0,0.0,0.00,0.386014,0.489178,0.28285,318.66,310.65,318.66
1987-08-07,0.56,0.15,0.29,1.0,0.0,0.27,0.386014,0.489178,0.28285,323.00,316.23,323.00